
code/country_risk_calc.m~

docs/climada_high_res_entity_sample.png

data/F182012.v4c_web.stable_lights.avg_vis.tif

data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.mat

data/WorldBank_GDP_admin0.mat

data/admin0_compare.xls

data/night_light_2010_10km.mat

data/ne_10m_coastline/ne_10m_coastline.mat

code/centroids_generate_hazard_sets.m~

data/WorldBank_GDP_admin0_misdat999.xls

data/economic_indicators_mastertable.mat
