
docs/climada_high_res_entity_sample.png


data/F182012.v4c_web.stable_lights.avg_vis.tif


data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.mat


data/WorldBank_GDP_admin0.mat

data/admin0_compare.xls


data/night_light_2010_10km.mat

data/ne_10m_coastline/ne_10m_coastline.mat


code/centroids_generate_hazard_sets.m~

data/WorldBank_GDP_admin0_misdat999.xls


data/economic_indicators_mastertable.mat


code/country_hazard_comparison.m~

code/selected_countries_all_in_one.m~


data/emdat/emdat_BGD_Bangladesh.csv

data/emdat/emdat_CHN_China.csv


data/emdat/emdat_PHL_Philippines.csv

data/emdat/emdat_BGD_Bangladesh.xls


data/emdat/emdat_subtype.csv

data/emdat/emdat_type.csv

data/emdat/emdat_USA_UnitedStates_TC.xls


data/emdat/emdat_USA_UnitedStates.csv

data/emdat/emdat_USA_UnitedStates.xls


data/emdat/emdat.csv

data/emdat/emdat.mat
*.asv